<h1>Editing Air Conditioner and Ventilation Services</h1>

<%= render 'form' %>

<%= link_to 'Show', @airconditioner, class: "btn btn-link" %> |
<%= link_to 'Back', airconditioners_path, class: "btn btn-link" %>
