 <div class="jumbotron">
  <div class="left">
 </div>
 </div>

 <div class="row" id="featuresHeading">
    <div class="col-12">
        <h2 style="font-family:Arial"><strong>OUR COMPANY</strong></h2>
        <p class="lead"></p>
    </div>
</div>
<div class="left">
<body>
<strong>Florida's Only Motors</strong> is an online marketing company that offers proffessional advertising service to all motors professionals in the state of Florida.<br><br>
<strong>Florida's Only Motors</strong> is part of one of the <strong>D&G Global</strong> marketing software strategies that offer their clients to maximize the customers and their businesses. <br><br>
<strong>D&G Global</strong> is a software development consulting company that offer customize techologies services like website development services for your business to link them with <strong>Florida's Only Motors</strong> to maximize your clients through the newest web development technologies as well as marketing strategies. <br>
<p>

<h4><strong>HOW TO CONTACT US</strong></h4>

If you would like to contact us with any queries or comments please send an email to <strong>customers@floridasonlymotors.com</strong> or call to <strong>1-844-FLO-ONLY</strong> 
<br>

</p>	
</body>
</div>
