<div class="row" id="featuresHeading">
    <div class="col-12">
        <font color="505050"><h2 style="font-family:Calibri"><strong>What are you Looking for?</strong></h2></font>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>NEW HEAVY EQUIPMENT SALES</strong></h3></font>
            </div>
             <a href="/pages/heavydealer" target="_self"><%= image_tag("usedheavy.jpg", :size => "150x150", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/heavydealer" target="_self" class="btn btn-default">SEARCH</a>
        </div>
</div>

    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>USED HEAVY EQUIPMENT SALES</strong></h3></font>
            </div>
             <a href="/pages/usedheavydealer" target="_self"><%= image_tag("neeheavy.png", :size => "150x150", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/usedheavydealer" target="_self" class="btn btn-default">SEARCH</a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>HEAVY EQUIPMENT REPAIRS/ADDITIONS</strong></h3></font>
            </div>
              <a href="/pages/heavyequipmentservices" target="_self"><%= image_tag("heavyadd.png", :size => "150x148", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/heavyequipmentservices" target="_self" class="btn btn-default">SEARCH</a>
        </div>
        </div>
</div>
</div>