 <div class="jumbotron">
  <div class="left">
 </div>
 </div>
<div class="row" id="featuresHeading">
    <div class="col-12">
        <font color="cf142b"><h2 style="font-family:Calibri"><strong>Choose Your Advertising Plan Or List a Dealership And Maximize The Customers For Your Business!</strong></h2></font>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <font color="ffb900"><h3 class="panel-title", style="font-family:Calibri"><strong></strong></h3></font>
            </div>
            <div class="center">
             <%= image_tag("basicplan.jpg", :size => "320x500", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
         </div>
            <p></p>
            <a href="/subscriptions/new" target="_self" class="btn btn-default"><strong>SUBSCRIBE</strong></a>
        </div>
</div>

 <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="ffb900"><h3 class="panel-title", style="font-family:Calibri"><strong></strong></h3></font>
            </div>
            <div class="center">
             <%= image_tag("goldplan.jpg", :size => "320x500", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
         	</div>
          <p></p>
            <a href="/subscriptions/new" target="_self" class="btn btn-default"><strong>SUBSCRIBE</strong></a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="ffb900"><h3 class="panel-title", style="font-family:Calibri"><strong></strong></h3></font>
            </div>
            <div class="center">
              <%= image_tag("listing.jpg", :size => "330x500", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %>
          </div>
            <p></p>
            <a href="/subscriptionpackages/new" target="_self" class="btn btn-default"><strong>POST A DEALERSHIP</strong></a>
        </div>
        </div>
</div>
</div>