<div class="row" id="featuresHeading">
    <div class="col-12">
        <font color="505050"><h2 style="font-family:Calibri"><strong>What are you Looking for?</strong></h2></font>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>NEW SEMI -TRAILER SALES</strong></h3></font>
            </div>
             <a href="/pages/semitrailerdealer" target="_self"><%= image_tag("newsemitrailer.jpg", :size => "150x150", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/semitrailerdealer" target="_self" class="btn btn-default">SEARCH</a>
        </div>
</div>

    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>USED SEMI -TRAILER SALES</strong></h3></font>
            </div>
             <a href="/pages/usedsemitrailerdealer" target="_self"><%= image_tag("usedsemitrailer.jpg", :size => "150x150", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/usedsemitrailerdealer" target="_self" class="btn btn-default">SEARCH</a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>SEMI TRAILER REPAIRS/ADDITIONS</strong></h3></font>
            </div>
              <a href="/pages/semitrailerservices" target="_self"><%= image_tag("newsemitrailer.png", :size => "220x148", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/semitrailerservices" target="_self" class="btn btn-default">SEARCH</a>
        </div>
        </div>
</div>
</div>