<div class="row" id="featuresHeading">
    <div class="col-12">
        <font color="505050"><h2 style="font-family:Calibri"><strong>What are you Looking for?</strong></h2></font>
        <p class="lead"></p>
    </div>
</div>
<div class="row" id="features">
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>NEW SEMI TRUCK SALES</strong></h3></font>
            </div>
             <a href="/pages/truckdealer" target="_self"><%= image_tag("newsemitruck.jpg", :size => "190x160", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/truckdealer" target="_self" class="btn btn-default">SEARCH</a>
        </div>
</div>

    <div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>USED SEMI TRUCK SALES</strong></h3></font>
            </div>
             <a href="/pages/usedsemitruckdealer" target="_self"><%= image_tag("usedsemitruck2.png", :size => "190x160", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/usedsemitruckdealer" target="_self" class="btn btn-default">SEARCH</a>
        </div>
    </div>
<div class="col-md-4 feature">
        <div class="panel">
            <div class="panel-heading">
                 <font color="bf0a30"><h3 class="panel-title", style="font-family:Calibri"><strong>SEMI TRUCK REPAIRS/ADDITIONS</strong></h3></font>
            </div>
              <a href="/pages/semitruckservices" target="_self"><%= image_tag("semitruckk.jpg", :size => "170x160", :alt => "Residentials", :style =>"margin-right:25px; margin-top:10px;" ) %></a>
            <p></p>
            <a href="/pages/semitruckservices" target="_self" class="btn btn-default">SEARCH</a>
        </div>
        </div>
</div>
</div>