.left
{
	text-align: left;
}
.jumbotron{

	background-image: url(http://i62.tinypic.com/2iatm6r.jpg);
	background-repeat: no-repeat;
	height: 160px;
	margin: 0px;
	background-position:right;
	h2 {
	color: #656565;
	text-shadow: 0px 2px 3px #555;
	margin-top: -0.5cm;
	}
}
